/* .name {
	display: flex;
	align-items: flex-start;
}
.replyto {
	display: flex;
	align-items: flex-start;
}
.send {
	display: flex;
	align-items: flex-start;
}
.imgFluid {
	width: 200px;
}

.t1 {
	color: red;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: red;
	}
	.t1 {
		color: blue;
	}
	.imgFluid {
		width: 100px;
	}
} */
